body {
    background-color: beige;
    font-family: 'Nerko One', cursive;
    margin: auto;
}

.sound {
    position: relative;
    background-color: beige;
    width: 20%;
    height: 20vh;
    font-size: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.2s;
    border: 5px black solid;
    border-radius: 150px;
}

.sound:hover {
    scale: 1.1;
    color: beige;
    background-color: black;
}

#container {
    position: absolute;
    background-color: beige;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 500%;
    margin-top: 5%;
}